.style__block {
    display: flex;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-image: url("img/style/border-gorizont.png");
    background-repeat: repeat-x;
}

.style__block--left {
    width: 320px;
}

.style__block--left-top {
    width: 220px;
    height: 220px;
    background-image: url('img/style/left-top.png');
    background-repeat: no-repeat;
}

.style__block--main{
    position:relative;
    width: 100%;
    background-image: url('img/style/right-top2.png') ;
    background-repeat: no-repeat;
    background-position: right top;
}

.fist-line {
    display: grid;
    grid-template-columns:25% 45%;
    height: 130px;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 10px;
}

.memory-game__title-score {
    text-align: center;
}

.memory-game__title-level {
    text-align: right;
    padding-right: 15px;
}

.memory-game__title-name {
    display: flex;
    background-image: url("img/style/name-gamer.png");
    height: 84px;
    align-items: center;
    width: 100%;
    justify-content: space-around;
    text-transform: capitalize;
}

.memory-game__title-name span {
    font-size: 25px;
}

#score,
#scoreAll,
.memory-game__title-level {
    font-size: 45px;
}

#btn-pause,
#btn-info{
    z-index: 1;
    border: none;
    position:absolute;
    right:35px;
    top:38px;
    width: 50px;
    height: 50px;
}

#btn-pause {
    background:none ;
    background-image: url("img/style/pause.svg");
    background-repeat: no-repeat;
    background-size: 50px;
}

#btn-pause:hover{
    background-image: url("img/style/pause-hover.svg");
}

.info__btn {
    background:none ;
    background-image: url("img/style/info.svg");
    background-repeat: no-repeat;
    background-size: 50px;
}

.info__btn:hover{
    background-image: url("img/style/info-hover.svg");
    cursor:pointer;
}
#btn-info:focus {
    outline:none;
}

.memory-game__title-allScore {
    display: flex;
    width: 165px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
}

.memory-game__leftSidebar--quessed {
    display:grid;
    width: 100%;
    margin-left: -15px;
}

.guessed-top {
    background-image: url("img/style/top-guessed.png");
    background-repeat: no-repeat;
    height: 65px;
    text-align: center;
    padding: 0;
    padding-top: 25px;
}

.cards-guesseding {
    background-image: url("img/style/center-guessed.png");
    background-repeat: repeat-y;
    padding: 0 60px;
}

.gueseed-bottom {
    background-image: url("img/style/bottom-guessed.png");
    background-repeat: no-repeat;
    height: 156px;
}

.border-green {
    border: 7px solid green
}

.memory-game__info {
    position:absolute;
    margin: auto;
    top:100px;
    width: 680px;
    height: 750px;
    z-index: 99;
    background-image: url("img/style/bg-info.png");
    text-align: center;
    /*transform: translate(-2000px, -2000px);*/
    transition: transform 0.5s;
}

.memory-game__info-title {
    font-size: 36px;
    margin-bottom: 50px;
}

.memory-game__info--text {

    display:inline-block;
    line-height:26px;
    text-align: left;
    width: 500px;
}

.btn_close {
    position:absolute;
    right:10px;
    top:10px;
    outline:none;
    width:35px;
    height: 35px;
    background-color: #8e1b11;
    color:#fcfcfc;
    border-radius:8px;
}
.btn_close:hover {
    background-color: #ac4137;
}

/*стилизация скрола*/
::-webkit-scrollbar-button {
    background-image:url('');
    background-repeat:no-repeat;
    width:5px;
    height:0px
}

::-webkit-scrollbar-track {
    background-color:#ecedee
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background-color:#109f0e;
}

::-webkit-scrollbar-thumb:hover{
    background-color:#087606;
}

::-webkit-resizer{
    background-image:url('');
    background-repeat:no-repeat;
    width:4px;
    height:0px
}

::-webkit-scrollbar{
    width: 4px;
}
