@font-face {
    font-family: 'lindBerg';
    src: url('fonts/lindBerg.otf');                                    /* IE9 Compat Modes */
    src: url('fonts/lindBerg.otf?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/lindBerg.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    padding: 0;
    display: flex;
    margin: 0;
    font-family: 'lindBerg';
    background: rgb(255, 204, 153);
}

.start-page {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.start-page.hide {
    display: none;
}

.start-page__img {
    margin-top: 150px;
    margin-bottom: 50px;
}

.start-page__input {
    position: relative;
    z-index: 1;
    border: none;
    width: 200px;
    padding: 8px;
    margin-bottom: 15px;
    font-size: 16px;
    border-radius: 8px;
    line-height: 24px;
}

.start-page__input:focus,
.start-page__btn:focus,
.start-page__btn:hover {
    outline: none;
    border: 2px solid #0970a7;
    padding: 6px;
}

.start-page__btn {
    position: relative;
    z-index: 1;
    border: none;
    border-radius: 5px;
    width: 215px;
    line-height: 24px;
    font-size: 16px;
    background-color: darkgreen;
    color: #ffffff;
    padding: 8px;
}

.start-page__btn:hover {
    background-color: #039603;
    cursor: pointer;
}

.memory-game {
    display: flex;
    width: 100%;
    min-width: 1175px;
    justify-content: space-between;
}

.memory-game__leftSidebar {
    width: 320px;
    position:relative;
    min-width: 320px;
    height: 100vh;
    z-index: 10;
    margin: 0;
    padding: 0;
    /*margin-right: 50px;*/
    /*background: url('img/style/border-vertical.png');*/
    background-position: right;
    background-repeat: repeat-y;
    padding-right: 25px;
}

.memory-game__main {
    display: flex;
    width: 75%;
    flex-direction: column;
    /*grid-template-rows: 15% 80%;*/
}

.memory-game.hide {
    display: none;
}

.end-page {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.end-page.hide {
    display: none;
}

.pause-page {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, .8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 99;
}

.pause-page.hide {
    display: none;
}

.pause-page__title {
    color: #fff;
}

.memory-game__title {
    display: flex;
    align-items: start;
    height: 360px;
    flex-direction: column;
    /*justify-content: space-around;*/
    /*border-bottom: 2px solid #0970a7;*/
    /*background-image: url("img/style/border-gorizont-2.png");*/
    background-position: bottom;
    background-repeat: repeat-x;
}

.memory-game__title-name {
}

.memory-game__title-level {
    text-align: center;
}

.memory-game__title-score,
.memory-game__title-allScore {
    /*text-align: right;*/
}

.memory-game__table {
    margin: auto auto auto 10%;;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 20px;
    perspective: 2000px;
}

.cards-guesseding {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
    justify-items: center;
}

.guessed {
    transform: translateX(-2000px);
    transition: transform 1.5s;
}

.guessedCard {
    display: block;
    transform: rotateY(180deg);
    transition: transform 1.5s;
    margin-bottom: 10px;
}

#card-template {
    display: none;
}

.memory-game__card {
    width: 150px;
    height: 150px;
    position: relative;
    cursor: pointer;
    padding: 10px;
    box-sizing: border-box;
    transform-style: preserve-3d;
    transition: transform .5s;
    border: 7px solid;
    border-image: url(img/style/border-card.png) 50 round round;
}

.memory-game__card-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: right;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.memory-game__card.flip {
    transform: rotateY(180deg);
}

.memory-game__card-front {
    transform: rotateY(180deg);
}

.memory-game__card-back {
    z-index: 9;
    background-color: transparent;
    background-image: url('img/bg-back-white.png');
    width: 100%;
    height: 100%;
    /*border-radius: 8px;*/
}

.memory-game__card-front,
.memory-game__card-back {
    backface-visibility: hidden;
}

.overseas {
    display: block;
    transform: translate(-2000px, -2000px);
    transition: transform 0.5s;
}
